<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kechennsheji">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".LogInActivity"
            android:label="用户登录">
        </activity>
        <activity
            android:name=".MainPayoutActivity"
            android:label="日常支出" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BillListActivity"
            android:label="查看账单" />
        <activity
            android:name=".AnalysisChartActivity"
            android:label="分析报告" />

        <activity
            android:name=".User.UserActivity"
            android:label="用户中心" />

        <activity
            android:name=".RegisterActivity"
            android:label="新用户注册" />

        <activity
            android:name=".User.UserInfoActivity"
            android:label="信息" />
        <activity
            android:name=".User.SettingActivity"
            android:label="设置" />
        <activity
            android:name=".MgPayoutsortActivity"
            android:label="选择类别" />
        <activity
            android:name=".MainPayinActivity"
            android:label="收入来源" />
        <activity android:name=".MgPayinsortActivity"
            android:label="收入类别" />
        <activity android:name=".AnalysisIncomeActivity"></activity>
        <activity android:name=".User.ModfypswActivity"
            android:label="修改密码"></activity>
    </application>

</manifest>
